{{- if .Values.gatewayClassConfig.create }}
apiVersion: cf.k8s.lex.la/v1alpha1
kind: GatewayClassConfig
metadata:
  name: {{ .Values.gatewayClassConfig.name | default (include "cf-tunnel-gw-ctrl.fullname" .) }}
  labels:
    {{- include "cf-tunnel-gw-ctrl.labels" . | nindent 4 }}
spec:
  cloudflareCredentialsSecretRef:
    name: {{ required "gatewayClassConfig.cloudflareCredentialsSecretRef.name is required" .Values.gatewayClassConfig.cloudflareCredentialsSecretRef.name }}
    {{- if .Values.gatewayClassConfig.cloudflareCredentialsSecretRef.namespace }}
    namespace: {{ .Values.gatewayClassConfig.cloudflareCredentialsSecretRef.namespace }}
    {{- end }}
    {{- if .Values.gatewayClassConfig.cloudflareCredentialsSecretRef.key }}
    key: {{ .Values.gatewayClassConfig.cloudflareCredentialsSecretRef.key }}
    {{- end }}
  tunnelID: {{ required "gatewayClassConfig.tunnelID is required" .Values.gatewayClassConfig.tunnelID | quote }}
  {{- if .Values.gatewayClassConfig.tunnelTokenSecretRef.name }}
  tunnelTokenSecretRef:
    name: {{ .Values.gatewayClassConfig.tunnelTokenSecretRef.name }}
    {{- if .Values.gatewayClassConfig.tunnelTokenSecretRef.namespace }}
    namespace: {{ .Values.gatewayClassConfig.tunnelTokenSecretRef.namespace }}
    {{- end }}
    {{- if .Values.gatewayClassConfig.tunnelTokenSecretRef.key }}
    key: {{ .Values.gatewayClassConfig.tunnelTokenSecretRef.key }}
    {{- end }}
  {{- end }}
  cloudflared:
    enabled: {{ .Values.gatewayClassConfig.cloudflared.enabled }}
    replicas: {{ .Values.gatewayClassConfig.cloudflared.replicas }}
    namespace: {{ .Values.gatewayClassConfig.cloudflared.namespace | quote }}
    {{- if .Values.gatewayClassConfig.cloudflared.protocol }}
    protocol: {{ .Values.gatewayClassConfig.cloudflared.protocol | quote }}
    {{- end }}
    {{- if .Values.gatewayClassConfig.cloudflared.awg.secretName }}
    awg:
      secretName: {{ .Values.gatewayClassConfig.cloudflared.awg.secretName | quote }}
      interfacePrefix: {{ .Values.gatewayClassConfig.cloudflared.awg.interfacePrefix | quote }}
    {{- end }}
    {{- with .Values.gatewayClassConfig.cloudflared.livenessProbe }}
    livenessProbe:
      {{- with .initialDelaySeconds }}
      initialDelaySeconds: {{ . }}
      {{- end }}
      {{- with .timeoutSeconds }}
      timeoutSeconds: {{ . }}
      {{- end }}
      {{- with .periodSeconds }}
      periodSeconds: {{ . }}
      {{- end }}
      {{- with .successThreshold }}
      successThreshold: {{ . }}
      {{- end }}
      {{- with .failureThreshold }}
      failureThreshold: {{ . }}
      {{- end }}
    {{- end }}
{{- end }}
